[Unit]
Description=Gas Cylinder Monitor Host Watchdog
After=network.target bluetooth.target

[Service]
Type=simple
User=arduino
ExecStart=/bin/bash /home/arduino/ArduinoApps/gas-cylinder-monitor/hub/watchdog_host.sh
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
